body{
    background-position:center;
    background-size:contain;
}
.c1{
    background-color: aqua;
    font-size:35px;
    text-align: center;
    width:40%;
    font-weight: bolder;
}
.c1:hover{
  background-color:cyan;  
}
.b1{
    background-color: rgb(8, 172, 248);
    font-size:20px;
    font-weight: bolder;
}
canvas{
    animation-name:gautam;
    animation-duration:5s;
    animation-iteration-count:infinite;
}
@keyframes gautam{
    from{
        box-shadow:5px 5px 38px white;
    }
    to{
        box-shadow:1px 1px 38px yellow;
    }
}